@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2021-06-14
******************************************************** */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Material-Icons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ****************** LAYOUT ********************** */
::selection {
    background: #555;   
    color: #fff;
}
::-moz-selection {
    background: #555;    
    color: #fff;
}
body, table, th, td, button, select, input, textarea {
	font-family:'Poppins','Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
	word-break:keep-all;
}
body { background-color:#fff; }
table, th, td{word-break:break-word;}
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; }
.area{ max-width:1200px; margin:0px auto;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box{ max-width:1720px; margin:0px auto; }
.area-1710{ max-width:1710px; margin:0px auto; }
.area-1595{ max-width:1595px; margin:0px auto; }
.area-1410{ max-width:1410px; margin:0px auto; }
.font-roboto{font-family:'Roboto','Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;}
.font-noto{font-family: 'Noto Sans KR', Arial, sans-serif;}
.is-mobile * {-webkit-tap-highlight-color : transparent;}
/* Fullpage Layout */
.fullpage-html{overflow:hidden; height:100%;}
.fullpage-html #wrap{position:static;}

/* ****************** HEADER ********************** */
#header{
	position:absolute;  height:100px; top:0; left:0; width:100%; z-index:9999; 
}
.fullpage-html #header{
	position:fixed;
}
#headerInnerWrap{
	position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9999;
	-webkit-transition:background-color 0.3s;
	transition:background-color 0.3s
}
#headerInner{position:relative; height:100%; margin:0px auto; /*padding:0 100px; */}
#header .logo{position:relative; z-index:100; float:left; padding-top:25px; }
#header .logo a{display:block; }
#header .logo img{display:block; vertical-align:top; height:55px}

/* -------- Header :: UTIL BOX -------- */
.header-util-box{position:absolute; top:50%; /*right:100px;*/right:0; margin-top:0; z-index:100;}

/* Header :: 언어선택 */
.header-lang {position:relative; float:left; width:70px; height:21px; border:1px solid #fff; z-index:100; box-sizing:border-box; border-radius:50px}
.header-lang .lang-open-btn {overflow:hidden; position:relative; display:block; width:100%; text-align:left; height:100%; padding:0 10px; font-size:10px; line-height: 20px; color:#fff; }
.header-lang .lang-open-btn strong{font-weight:600}
.header-lang .lang-open-btn .arrow{position:absolute; top:1px; right:5px;}
.header-lang .lang-open-btn .arrow i{font-size:16px;}
.header-lang > ul {display:none; position:absolute; top:19px; left:-1px; z-index:10; width:100%;}
.header-lang > ul > li{background-color:#fff; border-radius:50px; margin-top:5px}
.header-lang > ul > li > a{display:block; padding:0 10px; font-size:10px; line-height: 21px; color:#333;}
.header-lang.open .lang-open-btn .arrow i{transform:rotate(180deg);}

/* Header :: 인트라넷, 사이트맵버튼 */
.header-cm-link{float:left; font-weight:600; font-size:10px; letter-spacing:0.5px; color:#fff; opacity:0.5; text-transform:uppercase; margin-right:45px; margin-top:7px}

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg{position:fixed; top:0; left:0; width:100%; height:100%; visibility:hidden; opacity:0;filter:Alpha(opacity=0); background:rgba(0,0,0,0.5); z-index:9997;  -webkit-transition:all 0.3s; transition:all 0.3s; }	/* gnb overlay BG */
.gnb-overlay-bg.open{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
#gnb{position:absolute; text-align:center; top:0; left:0px; width:100%; z-index:99;}
#gnb > ul{display:inline-block; *display:inline;*zoom:1;}
#gnb > ul > li{position:relative; float:left; word-break:keep-all;}
#gnb > ul > li > a{position:relative; z-index:100; display:block; line-height:100px; width:200px; text-align:center; color:#fff; font-size:16px; letter-spacing:0; font-weight:600; -webkit-transition:all 0.3s; transition:all 0.3s;}
#gnb > ul > li > a span{position:relative; display:inline-block; line-height:1.4}
#gnb > ul > li > a span:after{position:absolute; content:""; width:100%; height:40px; padding:0 30px; background-color:#9cc813; top:-10px; left:50%; transform:translateX(-50%); opacity:0; transition:all 0.3s; border-radius:50px; z-index:-1}
#gnb > ul > li.over > a span:after,
#gnb > ul > li.on > a span:after{opacity:1}

/* GNB :: 2차 전체메뉴 */
#gnbBg{
	overflow:hidden; position:absolute; left:0; top:0px; width:100%; height:0; background:#fff; z-index:98;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:height 0.3s ease-in-out, opacity 0.2s ease-in-out;
	transition:height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
#gnb.total-menu > ul > li .gnb-2dep{
	position:absolute; 
	top:95px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:center; 
	opacity:0;filter:Alpha(opacity=0);
	height:0;
	-webkit-transition: all 0.2s 0s;
    transition: all 0.2s 0s;
	visibility:hidden;
}
#gnb.total-menu > ul > li .gnb-2dep:before{position:absolute; content:""; width:1px; height:585px; background-color:#e4e4e4; top:-100px; right:0; opacity:0}
#gnb.open.total-menu > ul > li .gnb-2dep:before{opacity:1}
#gnb.total-menu > ul > li:last-child .gnb-2dep:before{display:none}
#gnb.total-menu > ul > li .gnb-2dep:after{position: absolute; content: ""; width: 100%; height: 585px; top: -100px; left: 0; background-color: #f8f8f8; opacity: 0; z-index: -1; transition:all 0.2s}
#gnb.total-menu > ul > li.over .gnb-2dep:after{transition:all 0.3s; opacity:1}

#gnb.total-menu > ul > li .gnb-2dep ul{}
#gnb.total-menu > ul > li .gnb-2dep ul li{position:relative;}
#gnb.total-menu > ul > li .gnb-2dep ul li a{ display:block;  padding:11.5px 15px; color:#777; font-size:14.5px; letter-spacing:-0.15px; font-weight:400; line-height:1.31; -webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
#gnb.total-menu > ul > li .gnb-2dep ul li a:hover{color:#9cc813}

/* GNB :: 2차메뉴 Over (높이변경) */
#gnb.open #gnbBg{height:580px; opacity:1.0;filter:Alpha(opacity=100);}
#gnb.open > ul > li .gnb-2dep{
	height:485px; opacity:1.0;filter:Alpha(opacity=100);
	visibility:visible;
	-webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}

/* GNB :: header black */
#header.bk #gnb > ul > li > a{color:#000}
#header.bk .header-cm-link{color:#000}
#header.bk .header-lang,
#header.bk .header-lang > ul > li{background:#f5f5f5}
#header.bk .header-lang .lang-open-btn{color:#000}
#header.bk.open .header-lang{background-color:#fff}

/* GNB :: header open */
#header.open #gnb > ul > li > a{color:#000}
#header.open #gnb > ul > li.over > a{color:#fff}
#header.open .header-cm-link{color:#000}
#header.open .header-lang{border-color:#ddd}
#header.open .header-lang .lang-open-btn{color:#000}


.header-lang-box{float:left; width:120px; height:30px; border-radius:30px; background:rgba(0,0,0,0.5); margin-top:-3px;}
.header-lang-list{display: flex; align-items:center;}
.header-lang-list li{width:50%; text-align:center;}
.header-lang-list li a{display: block; font-size:12px; color:#fff; line-height:30px; font-weight:700; border-radius:30px;}
.header-lang-list li.cur a{background:#fff; color:#222; margin-right:-1px;}

@media all and (max-width:1024px){
	.header-lang-box{width:100px; height:25px; margin-top:-2px;}
	.header-lang-list li a{line-height:25px;}
}


/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn{display:none;}
#gnbM{display:none}
.mb-quick-menu{display:none}

/* ****************** FOOTER ********************** */
/* -------- FOOTER :: 레이아웃 -------- */
#footer{background-color:#e5e5e5; padding:45px 0 50px}
#footerInner{position:relative; }
.footer-left-con{float:left; }
.footer-right-con{float:right;}

/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:15px; display:block; width:46px; height:46px; background-color:#fff; text-align:center; color:#333; z-index:99;
	border:1px solid #eee;
	box-sizing:border-box;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s
	-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;
}
.to-top-btn.bottom-fixed{bottom:15px; opacity:1.0;filter:Alpha(opacity=100);}
.to-top-btn i{display:inline-block; font-size:16px; line-height:46px; transition:all 0.3s}
.to-top-btn:hover i{transform:translateY(-3px)}
#fullpage .to-top-btn{display:none;}

/* -------- FOOTER :: 상단 -------- */
/* Footer :: 푸터메뉴 */
.foot-menu{}
.foot-menu li{float:left; position:relative; padding-right:35px;}
.foot-menu li:last-child{padding-right:0}
.foot-menu li a{color:#999; font-size:14px; line-height:50px; letter-spacing:-0.25px; font-weight:600}

/* -------- FOOTER :: 하단 -------- */
#footerBottom {padding-top:40px}

/* Footer :: 푸터로고 */
.foot-logo{display:block; padding-top:50px;}

/* Footer :: 정보 */
.footer-address-info-box{margin-bottom:30px; letter-spacing:-0.25px;}
.footer-address-list dl{display:inline-block; vertical-align:middle; /*color:#999;*/color:rgba(0,0,0,0.5); font-size:14px; line-height:1.5; margin-right:15px; margin-bottom:10px}
.footer-address-list dl:last-child{margin-right:0}
.footer-address-list dl dt,
.footer-address-list dl dd{vertical-align:middle; display:inline-block; font-weight:500}
.footer-address-list dl dt{margin-right:7px; color:#000;}
.footer-address-list dl:first-child dt{width:75px}
.footer-address-list span{display:inline-block; margin-right:15px}
.footer-address-list a{color:inherit}

/* Footer :: Copyright */
.footer-copyright{font-size:14px; letter-spacing:-0.25px; font-weight:500; color:#999}
.footer-copyright b{color:#000; font-weight:500}

/* Footer :: SNS 리스트 */
.foot-sns-menu{text-align:right;}
.foot-sns-menu li{/* float:left; */display:inline-block; vertical-align:middle; margin-left:20px}
.foot-sns-menu li:first-child{margin-left:0; margin-right:-10px}
.foot-sns-menu li a{display:block; text-align:center; font-size:24px; /*color:#888*/color:rgba(0,0,0,0.5)}


/* Footer :: 패밀리사이트 */
.family-site-box{position:relative; width:215px; text-align:left; letter-spacing:-0.25px; margin-right:30px;}
.family-site-box .family-site-open-btn{display:block; width:100%; height:50px; line-height:50px; padding:0 20px; text-align:left; font-size:14px; border:1px solid #bdbdbd; color:#8b8b8b; box-sizing:border-box; transition: all 0.4s;}
.family-site-box .family-site-open-btn:after{position:absolute; right:10px; top:50%; transform:translateY(-50%); font-size:24px; font-family: 'xeicon'; content:"\e942";}
.family-site-box.open .family-site-open-btn {background-color:#373737; color:#fff; }
.family-site-box.open .family-site-open-btn:after{content:"\e945";}
.family-site-list{position:absolute; bottom:100%; left:0px; width:100%;  padding:10px 0; background-color:#fff; border:1px solid #ddd; border-bottom:0;  z-index:11; display:none; box-sizing:border-box;}
.family-site-list a{display:block; padding:10px 20px; color:#808080; font-size:12px;}
.family-site-list a:hover{color:#000; text-decoration:underline;}

#footerTop .footer-right-con {display:flex; align-items:center;}


/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual{position:relative; overflow:hidden; width:100%; height:547px; }
#visual .visual-img-con{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:100%;
	height:100%;
	background-size:cover !important;
    -webkit-transform: scale(1.1,1.1); 
     transform: scale(1.1,1.1);
	-webkit-transition:transform 5000ms  ease-in-out ;
    transition:transform 5000ms ease-in-out ;	
}
#visual .visual-txt-con{position:relative; z-index:1; text-align:left; display:table; width:100%; height:100%; letter-spacing:-0.5px; color:#fff;}
#visual .visual-txt-container{position:relative; width:100%; margin-top:60px}
#visual .visual-tit,
#visual .visual-sub-txt{

}
#visual .visual-tit{
	font-weight:800; 
	font-size:70px; 
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s;
}
#visual .visual-sub-txt{
	font-size:18px; 
	font-weight:400; 
	padding-top:25px; letter-spacing:0.5px; color:rgba(255,255,255,0.3);
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
#visual .visual-tit span,
#visual .visual-sub-txt span{display:block}
/* SUB LAYOUT :: 상단효과 active */
#visual.active .visual-img-con{
    -webkit-transform: scale(1.0,1.0) rotate(0.002deg);
     transform: scale(1.0,1.0) rotate(0.002deg);
}



#visual .up-effect-txt{opacity:0; overflow:hidden; line-height:1}
#visual.active .up-effect-txt{animation: txt-opacity 1s both;}
#visual.active .up-effect-txt .effect-inner{
	-webkit-animation: txt-up 1.5s cubic-bezier(0.4, 0, 0.2, 1) both; 
	animation: txt-up 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
}
@keyframes txt-up {
	from {transform: translate3d(0, 150%, 0);}
	to {transform: translate3d(0, 0, 0);}
}
@keyframes txt-opacity {
	from {opacity:0}
	to {opacity:1}
}


#middleArea{position:relative}

/*  SUB LAYOUT :: 서브메뉴 */
#topMenu04{position:absolute; width:100%; height:70px; top:-69px; right:0; z-index:10}
#topMenu04 .side-menu-inner{position:relative; width:100%; height:70px; box-sizing:border-box}
#topMenu04 .side-menu-inner:after{position: absolute; top: 0; right: 0; display: block; content: ''; width: 50%; height: 70px; background-color: #fff; transition: all 0.5s; z-index:-1}
#topMenu04 .side-menu-inner:before{position: absolute;bottom: 0; left: 0; display: block; content: ''; width: 0%; height: 1px; background-color: #eee; transition: all 0.5s; z-index:1}
#topMenu04 .cm-top-menu{float:right; width:960px; height:100%; background-color:#fff; box-sizing:border-box; padding:0 40px; position:relative}
#topMenu04 .location-to-home-btn{position:relative; float:left; width:43px; height:43px; background-color:#9cc813; text-align:center; border-radius:50%; margin-top:16px; margin-right:35px}
#topMenu04 .location-to-home-btn:after{position:absolute; content:"\e942"; font-family:"xeicon"; right:-40px; top:50%;margin-top:-10px; font-size:20px; color:#000; transform:rotate(-90deg); opacity:0.4}
#topMenu04 .location-to-home-btn i{color:#fff; font-size:22.05px; line-height:43px;}
#topMenu04 .menu-location{position:relative; float:left; width:307px; margin-left:30px; margin-top:8px}
#topMenu04 .menu-location > .cur-location{position:relative; display:block; width:100%; height:62px; padding:0 22px 0 10px; text-align:left; border-bottom:2px solid #011a37}
#topMenu04 .menu-location.location2 > .cur-location{border-color:#9cc813}
#topMenu04 .menu-location > .cur-location span{display:block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:69px; color:#000; font-weight:400; font-size:19px; letter-spacing:-0.15px;}
#topMenu04 .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-5px; font-size:20px;}
#topMenu04 .menu-location.location2 > .cur-location .arrow{color:#9cc813}
#topMenu04 .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}
#topMenu04 .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:-1px; right:0px; border:1px solid #ddd; border-top:0; background-color:#fff; z-index:11; padding-bottom:10px }
#topMenu04 .menu-location .location-menu-con li a{display:block; padding:10px 20px; font-size:15px; word-break:keep-all; line-height:1.5;}
#topMenu04 .menu-location .location-menu-con li.on{position:relative;}
#topMenu04 .menu-location .location-menu-con li.on a{color:#9cc813; font-weight:500;}
/* Lab Equipment 메뉴 */
#topMenu04.equipment-menu .side-menu-inner:after{display:none}
#topMenu04.equipment-menu{width: 100%; top: -70px; z-index: 1004;}
/*#topMenu04.equipment-menu.full .side-menu-inner:after, #topMenu04.equipment-menu.full .side-menu-inner:before{display:none}*/
#topMenu04 .equipment-search-box{display: none;}
#topMenu04.equipment-menu .side-menu-inner{display: flex; padding: 0; background-color: transparent;}
#topMenu04.equipment-menu .cm-top-menu{width: 960px; padding: 0 42px; background-color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box;}
#topMenu04.equipment-menu .equipment-search-box{display: block; width: calc(100% - 960px); padding: 0 20px 0 150px; background-color: rgba(156,200,19,0.8); -webkit-box-sizing: border-box; box-sizing: border-box;}
#topMenu04.equipment-menu.top-fixed .equipment-search-box{background-color: rgba(156,200,19,1.0);}
.equipment-search-box .list-search{display: inline-block; width: 100%; height: 70px; font-size: 15px; line-height: 70px;}
.equipment-search-box .select-custom {float: left; width:178px; height: inherit;}
.equipment-search-box .select-custom select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; width: 100%; height: inherit; font-size: inherit; color: #fff; padding-right: 30px; line-height: 40px; background: url("/images/icon/select_arrow.png") no-repeat 95% 50%; position: relative; z-index: 100; cursor: pointer; vertical-align: top;}
.equipment-search-box .select-input{float: right; display: flex; justify-content: space-between; align-items: center; width: calc(100% - 178px); height: 100%; padding-left: 44px; -webkit-box-sizing: border-box; box-sizing: border-box;}
.equipment-search-box .select-input input{width: 100%; height: inherit; background-color: transparent; border: 0; font-size: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; border-radius: 0; vertical-align: top; color:#fff}
.equipment-search-box .btn-search{width: 20px; height: 50px; background: url(/images/icon/icon_search.png) no-repeat center center;  text-indent: -9999px; color: #fff; text-align: center; vertical-align: unset;}
.equipment-search-box .select-input input::placeholder {font-size: 16px; color:rgba(255,255,255,0.4);}
.equipment-search-box .select-input input:-webkit-input-placeholder{color:rgba(255,255,255,0.4);}
.equipment-search-box .select-input input:-ms-input-placeholder{color:rgba(255,255,255,0.4);}
.equipment-search-box .select-custom select:focus,
.equipment-search-box .select-input input:focus{outline: none;}

/* SUB LAYOUT :: 서브메뉴 Fixed (공통) */
@media all and (min-width:801px){	
	#topMenu04.full .side-menu-inner:after,
	#topMenu04.full .side-menu-inner:before{width: 100%; }
	#topMenu04.fixed-sub-menu.top-fixed .side-menu-inner{position:fixed; top:0px; right:0px; z-index:9999; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box;}
}

/* SUB LAYOUT :: 모바일메뉴(공통)  */
#topMenuM01,
#topMenuM02{display:none;}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content:not(.wide){padding:100px 0}
#content.wide{padding:100px 0 0 0}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; background:#000; background:rgba(0,0,0,0.8);}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg);  }
}
/* modal layer content */
.footer-modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; }
.footer-modal-content h1{font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0 50px 20px; color:#fff;}
.modal-close-btn{position:absolute; top:-6px; right:-6px; color:#fff; }
.modal-close-btn i{font-size:38px;}
.modal-close-btn i:hover {color:#fff}
.footer-inner-box{padding:30px; background-color:#fff; }
.footer-inner{padding:20px; height:400px; overflow-y:auto; overflow-x:hidden; border:1px solid #ddd; }

/* ****************** 사이트맵 ********************** */
/* -------- 사이트맵 01 -------- */
/* 사이트맵 01 */
.sitemap-wrapper{padding:30px; background-color:#fff;}
.sitemap-wrapper > ul{display:table; width:100%; table-layout:fixed;}
.sitemap-wrapper > ul > li{display:table-cell; vertical-align:top; text-align:center;}
.sitemap-wrapper > ul > li > h2{color:#191919; margin:0 2% 20px 2%; padding:15px; font-size:18px; background-color:#9cc813;  letter-spacing:-1.0px; margin-bottom:20px; font-weight:500;}
.sitemap-wrapper > ul > li .sitemap-2dep {padding:0 5% 20px;}
.sitemap-wrapper > ul > li .sitemap-2dep a{display:block; padding:10px 0; color:#666; font-size:14px; font-weight:400; line-height:1.2em;}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover{color:#000; }

/* -------- 사이트맵 02 -------- */
/* 사이트맵 02 :: Layout */
#sitemapContent{	
	position:fixed; 
	top:0; left:0; right:0; bottom:0; 
	opacity:0;filter:Alpha(opacity=0); 
	visibility:hidden;   
	z-index:-1;
	-webkit-transition:all 0.3s  0.5s;
	transition:all 0.3s  0.5s;
}
#sitemapInnerCon{position:absolute; top:0; left:0; bottom:0; right:100px; border-right:1px solid #ddd; }
#sitemapContent .sitemap-bg-box{position:absolute; top:0px; left:0px; width:100%; height:100%;}
#sitemapContent .visual-intro-item{float:left; position:relative; height:100%;}
#sitemapContent .visual-intro-item:before{
	position:absolute;  left:0; top:0px; width:1px; height:0; content:""; background-color:#ddd; z-index:1; 
}
#sitemapContent .visual-intro-item:first-child:before{display:none}
#sitemapContent .visual-intro-item:after{	
	content:""; 
	position:absolute; right:0; top:0px; 
	width:100%; height:100%; 
	background: #333; 
	-webkit-transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s;
	transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s ;
}
#sitemapContent .sitemap-close-btn{position:absolute; top:40px; right:40px;}
#sitemapContent .sitemap-close-btn i{font-size:20px; color:#222;}

/* 사이트맵 02 :: 메뉴리스트 */
.sitemap-wrapper-style02{height:100%; }
.sitemap-wrapper-style02 > ul{overflow:hidden; position:relative; z-index:1; top:50%; transform:translateY(-50%);}
.sitemap-wrapper-style02 > ul > li{overflow:hidden; float:left; width:20%;height:100%;}
.sitemap-wrapper-style02 > ul > li > h2{overflow:hidden; color:#191919; font-size:18px; letter-spacing:-1.0px; margin:0% 15% 40px; font-weight:600; }
.sitemap-wrapper-style02 > ul > li:hover > h2{color:#f57f20;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a{
	overflow:hidden; position:relative; display:block;  padding:20px 15%; color:#777; font-size:15px; letter-spacing:-0.15px; font-weight:400; line-height:1.2;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:after{
	position:absolute; top:0; left:0; width:0; content:""; height:100%; background:#f57f20;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a span{position:relative; z-index:1;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a .gnb-icon{display:none;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:hover{color:#fff; }
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:hover:after{width:100%; }
.sitemap-wrapper-style02 ul li span{
	display:block; opacity:0;filter:Alpha(opacity=50);
	-webkit-transform:translateX(-5%);
	transform:translateX(-50%);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s, opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s; 
}
/* 사이트맵 open */
#sitemapContent.open{
	opacity:1.0;filter:Alpha(opacity=100); 
	visibility:visible; 
	z-index:99999; 
	background-color:#fff;
	-webkit-transition:all 0.3s  0s; 
	transition:all 0.3s 0s;
}
#sitemapContent.open .visual-intro-item:before{height:100%;}
#sitemapContent.open .visual-intro-item:after {width:0;}
#sitemapContent.open .visual-intro-item {
	-webkit-transform: scaleX(1);
	transform: scaleX(1); 
	transform-origin:right top; 
	transition-property: transform;
}
#sitemapContent.open .sitemap-wrapper-style02 ul li span{
	opacity:1.0;filter:Alpha(opacity=100);
	-webkit-transform:translateX(0);
	transform:translateX(0);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04), opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04); 
}